

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/*header*/
/*donate button*/
.fs-header-top .fs-top-tools .fs-btn{
    background:#f91c90 !important;
    border-radius: 25px !important;
}
a.a2a_button_facebook, a.a2a_button_twitter, a.a2a_button_email, a.a2a_dd{
    background:#fff !important;
}
    /*remove logo*/
.fs-header-top .fs-logo-container{
    display:none !important;
}
.fs-header-top{
    border:none !important;
}

/*fonts title and buttons*/
h1 *,h2 *, h3 *,.fs-about em, .fs-footer *,.fs-countdown h3 strong,    .fs-countdown .fs-countdown-widget .fs-countdown-unit .fs-countdown-description, .fs-footer .row>div:nth-of-type(1) h3,.fs-full-donate-form .fs-donate-body .fs-donation-options .fs-donation-option span.fs-option-name>*, body .fs-root h3, h4,.fs-goal .fs-goal-text strong, .fs-about-text strong, .fs-header .page-header h1 small, .fs-matchers .fs-matchers-intro strong, .fs-footer, .fs-header .page-header h2, .donate-button *,.btn, .fs-partners h3 span, .fs-about-text.js-about-text h3, .fs-about-text.js-about-text h4, .fs-full-donate-form .fs-donate-header .fs-text h2{
    font-family: "Rubik", sans-serif !important;
}

/*hero image*/
.fs-header:before {
    background-image: 
   url("https://chabadofwesthills.com/media/images/1344/fcid13449323.png");
   background-size:100% 100%;
   }
   @media screen and (max-width: 700px) {
   .fs-header:before {
    background-image: 
   url("https://chabadofwesthills.com/media/images/1344/wPbr13449327.png");
   background-size:100% 100%;
   }
   }
   /*text hero*/
   
   .fs-header .page-header h1 small{
    color:white !important;
    font-size:36px !important;
   }
   
   .fs-header .page-header h2{
    color:#fed401 !important;
    margin-top:0px !important;
    font-size:48px !important;
    text-transform: uppercase !important;
   }
   .page-header .a-delay-200ms{
    text-transform: uppercase !important;
   }
   .fs-header .page-header h1 {
    margin-bottom: -7px !important;
   }
   @media screen and (max-width: 700px) {
    .fs-header .page-header h1 small{
     font-size:24px !important;
    }
    .fs-header .page-header h2{
     font-size:40px !important;
     line-height: 40px !important;
     padding-top:5px !important;
    }
 }
   

/*buttons */
.donate-button .donate-button-text {
    background:#fed401 !important;
  border-radius: 25px !important;
  color:#032550 !important;
  
  }
 /* .donate-button .donate-button-text:hover{
    background: #FFF !important;
  }
  /*goal section*/
  .jumbotron.fs-header {
    border-bottom: 4px solid #FFF !important;
}
.fs-goal{
background:#FFF !important ;
}
.col-md-6.text-xs-center.text-md-right.fs-goal-text, .fs-goal .fs-goal-text strong{
    color:#353a59 !important;
}
.fs-goal .fs-goal-text .fs-goal-amount,.fs-goal .fs-goal-graph-container .fs-goal-graph-text span{
    color:#f91c90 !important;
}
/*goal meter  filled and then not filled*/
.fs-goal-graph-fill{
    background: #f91c90 !important;
}
.fs-goal-graph{
    background: #353a59 !important;
}
/*center goal*/
/*@media (min-width:992px){
    .fs-goal .fs-goal-text{
    display: flex !important;
    justify-content: center !important;
    }
}
/*matchers*/
/*
.container-fluid.fs-matchers{
    background:#FFF !important;
    }
    .fs-matchers .fs-matchers-intro strong{
    color:#353a59 !important;
    }
    .fs-matchers .fs-matcher .fs-matcher-image{
   display:none !important;
    }
    .fs-matchers .fs-matcher .fs-matcher-title{
     display:none !important;
    }


/*countdown*/
.fs-countdown {
    background:#f91c90 !important;
    }
    .fs-countdown-number, .fs-countdown-sep{
      color:#353a59 !important;
      /*display:none !important;*/
    }
    /*maximize in countdown*/
    .fs-countdown h3 strong {
        color:#fff;
    }
    .fs-countdown .fs-countdown-widget .fs-countdown-unit .fs-countdown-description{
        color:#fff !important;
        /*display:none;*/
    }
    /*left until...*/
    h3.fs-countdown-message {
        color: #353a59 !important;
       /*visibility:hidden !important;
       position:relative !important;*/
    } 
    /*full width*/
    /*.fs-countdowndonate{
        width:100% !important;
        padding-right:0px !important;
        padding-left:0px !important;
    }


    /*section next to countdown*/
   .fs-donate {
    background:#353a59;
}
.fs-countdowndonate .fs-countdown, .fs-countdowndonate .fs-donate{
    border-radius:25px !important;
}

/*body > div.fs-root > div > div.fs-campaign-info > div > div > div.col-md-6.fs-donate.fs-donatable.text-center.vertical-align.d-js-viewport-in > div.fs-left-border-triangle > svg > polygon{
fill:#F8A147
}*/
div.fs-top-border-triangle > svg > polygon, div.fs-left-border-triangle > svg > polygon{
    fill:#353a59 !important;
}

/*dollar sign*/
.fs-donate .fs-donate-amounts {
    color:#fff;
}
/*button*/
.fs-donate .fs-btn, .fs-donate .fs-btn:hover{    
    border-radius: 25px !important;
    background-color: #fed401 !important;
}
/*main text*/
.fs-about-text.js-about-text h3{
    color:#353a59 !important;
}
.fs-about-text.js-about-text h4{
    color: #f91c90 !important;
}
.fs-about-text.js-about-text p{
    font-size:16px !important;
}

/*"Our donors"*/
.donar-section{
    background: #353a59;
    }
    .fs-partners>div{
        border-top:6px solid #f91c90 !important;
        background: #032550 !important;
        border-radius:25px !important;
    }       
    .fs-partners .fs-btn{
        background:#f91c90 !important;
        border-radius: 25px !important;
        }
        .fs-partners h3 span , body > div.fs-root > div > div.container.fs-about-partners-container > div > div.col-md-4.fs-partners.js-partners > div > h3 {
            color:#FFF !important;
        }

        /*flags*/
        .fs-partners .fs-partner-container .fs-partner{
            background: #FFF !important;
        }
        .fs-partner .fs-bottom-triangle  polygon{
            fill:#FFF !important;
            }
    .fs-partners .fs-partner-container .fs-partner .fs-partner-name, .fs-partners .fs-partner-container .fs-partner .fs-partner-donation-amount{
        color:#032550 !important;
    }
     /*read more*/
     .fs-about-text .fs-btn-read-more{
        border-radius: 25px !important;
        background: #f91c90 !important;
        color:#FFF !important;
        font-weight: bold !important;
     }   
    
    /*donation page*/
    .fs-full-donate-form .fs-donate-body .fs-donate-section h3{
        color:#353a59 !important;
        font-family: "Sniglet", serif !important;
    }
    
    /*amount boxes and button*/
    .fs-full-donate-form .fs-donate-body .fs-donation-options .fs-donation-option span.fs-option-name>*, #fs-donate-form .fs-btn-donate,.fs-full-donate-form .fs-donate-body .fs-donation-options .fs-donation-option.fs-other label.selected, .fs-full-donate-form .fs-donate-body .fs-donation-options .fs-donation-option.selected .fs-option-name>div{
        background-color: #f91c90 !important;
        color:#fff !important;
        border-radius:25px !important;
    }
    .fs-full-donate-form .fs-donate-body .fs-effective-donation-container .fs-effective-donation-amount-container{
        color:#f91c90 !important;
    }
    /*amount boxes when selected*/
    /*.fs-full-donate-form .fs-donate-body .fs-donation-options .fs-donation-option.fs-other label.selected, .fs-full-donate-form .fs-donate-body .fs-donation-options .fs-donation-option.selected .fs-option-name>div {
        background:#16396a;
        color:#FFF
    
    }
    /*footer*/
    .fs-footer {
        background: #353a59;
        border-top: 1px solid #353a59;
    }
    .fs-footer .row>div:nth-of-type(1) h3, .fs-footer .row>div:nth-of-type(2) h3 , address {
        color:#fff !important;
    }
    /*picture*/
    .image_change{
        width:100%;
    }

    